body {
    background-color: #C6A76D;
    padding: 30px 100px;
}

h5 {
    font-family: Arial, serif;
    font-weight: bold;
    margin-top: 20px;
}

.input_wrapper span {
    min-width: 60px;
}

.input_wrapper img {
    float: left;
    width: 25px;
    height: 25px;
}

.btn {
    min-width: 150px;
    height: 35px;
}

.container_row {
    display: flex;
    flex-direction: row;
}

a {
    margin-top: 10px;
}